main.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

main.app section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

main.app section img.icon {
  width: 100px;
}

main.app section h1 {
  color: #fff;
  font-size: 4rem;
  margin: 0;
  font-weight: 500;
}

main.app section h3 {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
}

section.weather {
  background-color: #38c9ba;
}

section img.small-icon {
  width: 32px;
  height: 32px;
}

section .left-bottom {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

section .right-bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

section.transport {
  background-color: #f9d171;
}

@media (max-width: 600px) {
  main.app {
    flex-direction: column;
  }

  main.app section {
    width: 100%;
    height: 50%;
  }
}
