main.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  color: #fff;
}

main.app section,
main.app section > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #fff;
}

main.app section {
  width: 50%;
}

main.app section > a {
  max-width: 100%;
}

main.app section img.icon {
  width: 100px;
}

main.app section h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 500;
}

main.app section h3 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
}

section img.small-icon {
  width: 32px;
  height: 32px;
}

section .left-bottom {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

section button.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

section .left-top {
  position: absolute;
  top: 5px;
  left: 5px;
}

section .right-bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

section .right-top {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media (max-width: 600px) {
  main.app {
    flex-direction: column;
  }

  main.app section {
    width: 100vw;
    height: 50vh;
  }
}
